.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  margin: 15px;
  margin-top: 15px;

  z-index: 100;
}

.header__logo > img {
  width: 100px;
  margin-top: 7px;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__center > p {
  margin: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.header__right {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

.header__right > p {
  margin: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
